/* Esse é um arquivo de estilos. style.css */
body{
    background-color: black;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

p{
    color: aliceblue;
    text-align: justify;
}

h1{
    color: azure;
    text-align: center;
}



/* Formatação dos Links*/
/* Pseudo-Classes*/
/* Love HAte*/
a:link, a:visited{
    color: brown;
    text-decoration: none;
}



a:hover{
    text-decoration: underline;
    color: red;
}

a:active{
    color: aliceblue;
}