.card-container {
  border: 5px solid black;
  padding: 0.5rem;
  margin: 2rem auto;
  background-color: white;
}

.card-image {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  position: relative;
  max-width: 100%;
}

img{
  max-width: 100%;
}

.card-info {
  margin-top: 1.5rem;
  font-weight: bold;
}
