*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    background-color: #250e0e;
}

.container{
    max-width: 1200px;
    margin: auto;
    background-color: #ccc;
}

header{
    padding: 80px;
    background-color: #333;
    color: #bbb;
    text-align: center;
    font-size: larger;
}

a:link, a:visited{
    text-decoration: none;
    color: rgb(138, 28, 28);
    padding: 20px;
}

a:hover{
    text-decoration: underline;
}

nav{
    background-color: #d5d5d5;
}

/* Links no Nav */
nav a{
    display: none;
    text-align: right;
    border-bottom: 1px dotted rgb(138, 28, 28);
}

img{
    max-width: 100%;
}

/* Mostrar apenas o primeiro link */
nav a:first-child{
    display: block;
    font-size: 2em;
}

nav:hover a{
    display: block;
}

aside, main{
    padding: 30px;
}

aside{
    background-color: #d5d5d5;
    text-align: center;
}

/* CSS para telas grandes */
@media screen and (min-width:800px){
    nav a:first-child{
        display: none;
    }

    nav a{
        display: block;
        border: none;
    }

    nav{
        display: flex;
        justify-content: space-around;
    }

    .row{
        display: flex;
    }

    aside{
        flex-basis: 40%;
    }
}
